<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>New Internationalist Magazine Australia Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>New Internationalist Magazine Australia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>055A8EC1177290CE003D9407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055A8EE5177290CF003D9407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058E563D19C7424800D6AF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
